.header {
  height: 100vh;
  overflow: hidden;
}

header {
  z-index: 100;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.header-caption {
  font-size: 24px;
}
.carousel-item > div {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-item:before {
  position: absolute;
  content: '';
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.img1 {
  background-image: url('img/img_1.jpg');
}

.img2 {
  background-image: url('img/img_2.jpg');
}
.img3 {
  background-image: url('img/img_3.jpg');
}
.img4 {
  background-image: url('img/img_4.jpg');
}
.img5 {
  background-image: url('img/img_5.jpg');
}
.img6 {
  background-image: url('img/img_6.jpg');
}
.img7 {
  background-image: url('img/img_7.jpg');
}

.navbar {
  position: sticky;
  top: 0vh;
  z-index: 10;
}

section {
  min-height: 100vh;
  padding-top: 70px;
  position: relative;
}

h2 {
  margin: auto;
  margin-bottom: 30px;
}
mark {
  background-color: rgba(250, 114, 104, 0.3);
}
a {
  color: rgba(250, 114, 104, 0.8);
}
a:hover {
  color: rgba(250, 114, 104, 1);
}
a:visited {
  color: rgba(250, 114, 104, 0.8);
}

.team h5 {
  margin-top: 3rem;
}

.outcome a {
  color: #000;
}

.header-img {
  height: 30vh;
  background-position: center;
}
.batch1 .header-img {
  background-image: url('img/img_4.jpg');
}
.batch2 .header-img {
  background-image: url('img/img_6.jpg');
}
.header-img h3 {
  color: white;
}
.header-img .container {
  height: 100%;
}
.header-img .row {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.batch1 h4,
.batch2 h4 {
  margin-bottom: 25px;
  margin-top: 50px;
}

.curriculum-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  margin-left: 5px;
  margin-right: 5px;
}
.card-deck .student {
  background-color: rgb(249, 249, 255);
  margin: 30px;
  padding: 25px;
}

.team-work-img {
  display: block;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.team-work-desc {
  padding: 25px;
  flex: 1;
}

.other-batch {
  height: 30vh;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgb(46, 46, 46);
}
.other-batch .row {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.other-batch a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.other-batch a:hover {
  color: rgba(255, 255, 255, 1);
}
/* ================ batch 1 =================== */

.batch1 .curriculum-img {
  background-image: url('img/batch1_curriculum.png');
}

/* ================ batch 2 =================== */

.batch2 .curriculum-img {
  background-image: url('img/batch2_curriculum.png');
}

.batch2 .hsinchu .team1 .team-work-img {
  background-image: url('img/batch2_hsinchu_team1.png');
}
.batch2 .hsinchu .team2 .team-work-img {
  background-image: url('img/batch2_hsinchu_team2.png');
}

.batch2 .yilan .team1 .team-work-img {
  background-image: url('img/batch2_yilan_team1.png');
}

.batch2 .yilan .team2 .team-work-img {
  background-image: url('img/batch2_yilan_team2.png');
}

.batch2 .yilan .team3 .team-work-img {
  background-image: url('img/batch2_yilan_team3.png');
}

@media (max-width: 576px) {
  .about-us-title {
    order: 1;
  }
  .about-us-description {
    order: 2;
  }
  .about-project-title {
    order: 3;
  }
  .about-project-description {
    order: 4;
  }
}
